.home-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.home-container h1 {
  margin: 2vh;
  font-size: 25px;
}
p {
  margin: 2vh;
  font-size: 18px;
}
@media (max-width: 200px) {
  .home-container {
    height: 40vh;
  }
  .home-container h1 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
}
@media (max-width: 100px) {
  .home-container {
    height: 20vh;
  }
  .home-container h1 {
    font-size: 10vw;
    margin: 1vh;
  }
  p {
    font-size: 10vw;
    margin: 1vh;
  }
}
