.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #4eeea9;
  box-shadow: 0px 0px 10px 5px #326cd8;
}
.header-container ul {
  padding: 0px;
}
.header-logo {
  width: 20vh;
  margin: 5vh;
}
.nav-link {
  text-decoration: none;
}
.nav-item {
  color: black;
  list-style: none;
  font-size: 25px;
}
.header-container:hover {
  transition-duration: 200ms;
  box-shadow: 0px 0px 10px 10px #0059ff;
}
@media (max-width: 400px) {
  .header-logo {
    width: 10vh;
  }
  .nav-item {
    font-size: 16px;
  }
}
@media (max-width: 200px) {
  .header-container {
    flex-direction: column;
  }
  .header-logo {
    width: 5vh;
    margin: 1vh;
  }
  .nav-item {
    font-size: 9px;
  }
}
